<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCart" verbose="4" thread-count="1" parallel="tests">
	<listeners>
		<listener class-name="in.footempire.listeners.TestNGListener" />
		<listener class-name="in.footempire.listeners.AnnotationTransformer" />
	</listeners>
	<test name = "BrandPage Test">
		<classes>
			<class name="in.footempire.testcases.HomePageTest" />
			<class name="in.footempire.testcases.RegisterPageTest" />
			<class name="in.footempire.testcases.SignInPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->